<div class="m-lg-3 ">
  <h1 [translate]="'iTheses.ThesesCurrentTitle'"></h1>

  <!--pre-loading state-->
  <div class="card mb-3 mt-5" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ph-col-2 ml-3 big"></div>
          <div class="ph-col-2 ml-3 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="currentTheses">
    <div class="card mb-4 mt-5" *ngFor="let thesis of currentTheses" > <!-- LOOP OF CARDS -->
      <div class="card-body">
        <div class="container-fluid px-3">
          <div class="d-flex justify-content-between" *ngIf="thesis?.students && thesis?.students.length==1">
            <div>
              <div>
                <h5>{{ thesis?.name }} {{ thesis?.status.alternatename }}</h5>
              </div>
              <div class="mb-2">
                <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ thesis?.type?.name }}</span>
                <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{thesis?.endDate | localizedDate: 'shortDate'}}</span>
              </div>
              <div>
                <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{ thesis.students[0].student.person?.name  }}</span>
                <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i><span [translate]="'iTheses.StudentIdentifier'"></span> : {{thesis.students[0].student?.studentIdentifier}}</span>
                <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{ thesis.students[0].student?.graduationTitle  }}</span>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="d-flex align-items-center">
                <span class="text-secondary align-middle mr-3 grade-title d-none d-sm-none d-md-block" [translate]="'iTheses.GradeTitle'"></span>
              </div>
              <div class="d-flex align-items-center">
                <span [ngClass]="(thesis.students[0].isPassed)?'passed-grade':'failed-grade'">{{ thesis.students[0].formattedGrade }}</span>
              </div>
            </div>
          </div>

          <div *ngIf="thesis?.students && thesis?.students.length>1">
            <div>
              <h5>{{ thesis?.name }}</h5>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <div>
                <div class="my-auto">
                  <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ thesis?.type?.name }}</span>
                  <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{thesis?.endDate | localizedDate: 'shortDate'}}</span>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <span class="text-secondary grade-title" [translate]="'iTheses.GradeTitle'"></span>
              </div>
            </div>
            <div class="d-flex justify-content-between mb-2 border-top pt-1" *ngFor="let student of thesis.students; let isLast=last">
              <div class="my-auto">
                <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{ student.student.person?.name }}</span>
                <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i><span [translate]="'iTheses.StudentIdentifier'"></span> : {{student.student?.studentIdentifier}}</span>
                <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{ student.student?.graduationTitle }}</span>
              </div>
              <div class="d-flex justify-content-end">
                <span class="grade-small" [ngClass]="(student.isPassed)?'passed-grade':'failed-grade'">{{ student.formattedGrade || '-'}}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && currentTheses && currentTheses.length === 0">
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'iTheses.ThesesActiveEmpty'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
